---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="text-3xl font-bold">About Us</h1>
    <p class="mt-4">This is the about page of your Astro project. Here you can share more information about your project, team, or anything else you'd like visitors to know.</p>
    <p class="mt-4">To learn more about Astro, check out the
        <a href="https://docs.astro.build" class="text-blue-500 hover:underline">documentation</a>.
    </p>
</Layout>
